@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&family=Roboto&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/* Inicio Vista Home*/
#tittlehome{
   font-family: 'Rock Salt', cursive;
   font-size:2rem;
   color:white;
}

#tittlehomesub{
   font-family: 'Rock Salt', cursive;
   font-size:1.5rem;
   color: #EDEDED;

}
#tittledescripcion{
   font-family: 'Rock Salt', cursive;
   font-size :2rem:
   color: white;

}
.fa-pepper-hot{
   font-size: 2rem;
   padding: 10px; 
}

/* Termino Vista Home*/


/* Inicio Vista Show Producto Usuarios*/
#tituloshow{
    font-family: 'Rock Salt', cursive;
    color: #4A4A4A;
 }

 #tituloshow :hover{
    font-family: 'Rock Salt', cursive;
    color: red;
 }

 .tittleshow{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 2rem;
    font-weight: 600;
 }

 .h4show{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 1.5rem;
 }

 .h4show :hover{
   font-family: 'Grechen Fuemen', cursive;
   font-size: 1.5rem;
   color: #efb810;
}
/* Termino Vista Show Producto Usuarios*/
